html {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}

.card {
  box-sizing: border-box;
  width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  color: #fff;
}

.card__image {
  margin: 0 auto 40px;
  width: 160px;
  height: 134px;
  display: block;
}

.card__title {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #060b35;
  margin-bottom: 4px;
}

.card__code {
  margin-top: 4px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
  margin-bottom: 16px;
}

.reviews {
  display: flex;
  justify-content: space-between;
}

.stars {
  display: flex;
  gap: 4px;
}

.stars__star {
  width: 16px;
  height: 16px;
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.stars--4 .stars__star:nth-child(-n + 4) {
  background-image: url(../images/star-active.svg);
}

.reviews__count {
  margin: 0;
  display: flex;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #060b35;
  margin-bottom: 24px;
}

.price {
  display: flex;
  justify-content: space-between;
}

.price__label {
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 50px;
  height: 18px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #616070;
  margin-bottom: 16px;
}

.price__value {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #060b35;
  margin-bottom: 16px;
}

.button {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  background-color: #00acdc;
  border-radius: 5px;
  box-sizing: border-box;
  border: solid 1px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.button:hover {
  background-color: #00acdc;
  border-radius: 5px;
}
